.ant-pagination-item-active {
  background: #0d4ded;
  color: #ffffff;
  border-radius: 4px;
  border: none;

  & > a {
    color: #ffffff !important;
    &:hover,
    &:focus {
      color: #ffffff;
    }
  }
}

.ant-pagination-item {
  border: none;
  color: #333333;
}

.ant-pagination-total-text {
  color: #333333;
}

.ant-pagination-prev .ant-pagination-item-link,
.ant-pagination-next .ant-pagination-item-link {
  border: none;
}

.ant-pagination-options-quick-jumper input:hover {
  border-color: rgba(196, 199, 205, 0.3);
}
